---
import { Icon } from 'astro-icon/components'
---

<header class="flex items-center justify-end py-8">
  <nav class="flex gap-6">
    <a
      href="https://github.com/Alexisxde/landingfy"
      target="_blank"
      rel="noopener noreferrer"
      class="inline-flex">
      <Icon
        name="github"
        class="size-6 text-neutral-800 transition-colors hover:text-neutral-600 dark:text-neutral-200 dark:hover:text-neutral-400"
      />
    </a>
  </nav>
</header>
