<section class="pt-8">
  <div class="relative mx-auto flex max-w-2xl flex-col items-center">
    <h1
      class="text-center text-4xl font-medium text-gray-900 md:text-6xl dark:text-gray-50">
      Colecci칩n modernas,
      <span
        class="animate-text-gradient inline-flex bg-gradient-to-r from-neutral-900 via-slate-500 to-neutral-500 bg-[200%_auto] bg-clip-text leading-tight text-transparent dark:from-neutral-100 dark:via-slate-400 dark:to-neutral-400"
        >landings pages</span
      >
    </h1>
    <p
      class="mt-6 text-center text-sm leading-6 text-gray-600 md:text-base lg:text-base xl:text-lg dark:text-gray-200">
      Descubre nuestra colecci칩n de <span class="opacity-75">landing pages</span
      > dise침adas para destacar tu marca y captar la atenci칩n de tus clientes.
    </p>
  </div>
</section>
